.edit-details-container{
    display: flex;    flex-direction: column;
}

.edit-details-container input {
    padding: 1rem;
    border-radius: 5px;
    margin: 0.5rem 0rem;
}

.edit-details-container label {
    margin: 0.5rem 0rem;
    font-size: 20px;
}
.modal-content button {
    font-size: 20px;
    margin: 1rem 0rem;
}