.sidebar-container{
    display: flex;
    flex-direction: column;

  
}

.sidebar-items li{
    margin:1rem;
    list-style-type: none;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    padding: 0.5rem;
   border-radius: 5px;
}

.sidebar-items li i {
    position: relative;
    top: 19px;
    padding-right: 1rem;

}
.sidebar-items li:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.25s;
    /* padding: 1rem; */
}
